.results-list {
    width: calc(100% - 2rem);
    background-color: #a3a894;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5rem 0.5rem #424141;
    border-radius: 10px;
    /* margin-top: 1rem; */
    /* max-height: 300px; */
    /* overflow-y: auto; */
    margin-bottom: 1rem;
    padding: 1rem;
  }