/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Filters.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Filters_checkboxContainer__RGqjh {
    margin-left: 25%;
    margin-right: 25%;
    min-width: 10rem;
}

/* Customize the label (the container) */
.Filters_checkboxes__9ssYb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: left;
  }
  
  /* Hide the browser's default checkbox */
  .Filters_checkboxes__9ssYb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .Filters_checkmark__R6NIS {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .Filters_checkboxes__9ssYb:hover input ~ .Filters_checkmark__R6NIS {
    background-color: #8B624B;
  }
  
  /* When the checkbox is checked, add a blue background */
  .Filters_checkboxes__9ssYb input:checked ~ .Filters_checkmark__R6NIS {
    background-color: #8B624B;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .Filters_checkmark__R6NIS:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .Filters_checkboxes__9ssYb input:checked ~ .Filters_checkmark__R6NIS:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .Filters_checkboxes__9ssYb .Filters_checkmark__R6NIS:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/styles/SearchBar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.input-wrapper {
    width: 100%;
    height: 2.5rem;
    border: 10px;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;
  }
  
  input {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0;
    font-size: 1.25rem;
    width: 75%;
    margin-left: 1rem;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: black;
  }

  
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/styles/SearchResultsList.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.results-list {
    width: calc(100% - 2rem);
    background-color: #a3a894;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5rem 0.5rem #424141;
    border-radius: 10px;
    /* margin-top: 1rem; */
    /* max-height: 300px; */
    /* overflow-y: auto; */
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
    margin-left: ;
  }

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.large {
  font-size: 3rem;
  margin: 0;
  text-align: left;
}

a {
  color: #3c5b66; /* Change the color of the link */
  font-weight: bold;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: none; /* Add underline on hover */
  color: #866c80;
  font-weight: bold;
  font-size: 1.5rem;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Tag.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.Tag_container__0xwMp {
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem #424141;

}

.Tag_tag__DGJTL {
    margin: 0.5rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/TagContainer.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.TagContainer_container__mgfHA {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/main.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

.main_container__jfxKs {
  /* width: calc(100% - 10%); */
  /* height: calc(100% - 10%); */
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 3rem;
  /* position: fixed; */
  /* top: 5%;
  left: 5%;  */
  /* z-index: 100; */
}

.main_columns__CEmrq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.main_columns__CEmrq .main_right__ckte8 {
  flex: 2 1;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 2rem;
  height: 100%;
  background-color: rgb(209, 203, 203);
}

.main_columns__CEmrq .main_left__Tew6w {
  flex: 1 1;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color:  #A97A60;
  box-shadow: 0.2rem 0.2rem #826250;
  height: 100%;
}

@media (max-width: 767px ) {
  .main_columns__CEmrq {
    flex-direction: column;
  }
  .main_columns__CEmrq .main_left__Tew6w,
  .main_columns__CEmrq .main_right__ckte8 {
    width: 90%;
    margin: 5%;
    border-radius: 2rem;
  }
}

@media (max-height: 767px ) {
  .main_columns__CEmrq {
    flex-direction: column;
  }
  .main_columns__CEmrq .main_left__Tew6w,
  .main_columns__CEmrq .main_right__ckte8 {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
